{
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
	"rules": {
		"use-isnan": "off",
		"prefer-const": "off", //["warn", { "ignoreReadBeforeAssign": true }],
		"no-empty": ["error", { "allowEmptyCatch": true }],
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],

		"no-use-before-define": "off",
		"@typescript-eslint/no-use-before-define": ["error", { "ignoreTypeReferences": true }],

		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"error",
			{ "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
		],

		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-this-alias": "off",
		"@typescript-eslint/consistent-type-imports": "error"
	}
}
