{
	"useTabs": true,
	"singleQuote": true,
	"semi": true,
	"trailingComma": "none",
	"printWidth": 100,
	"arrowParens": "always",
	"importOrder": ["^[./]"],
	"importOrderParserPlugins": ["typescript"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderGroupNamespaceSpecifiers": true
}
